<div class="row marketing">
    <h1>Season {{season.season}}</h1>
    <table class="table table-striped table-hover table-condensed" ng-model="season">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Date</th>
                <th>Circuit</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="race in season.Races">
                <td>{{race.round}}</td>
                <td>
                    <a ng-if="race.results" ng-href="#results/{{race.Circuit.circuitId}}">
                        {{race.raceName}} <i class="fa fa-trophy"></i>
                    </a>
                    <span ng-if="race.results === false">{{race.raceName}}</span>
                </td>
                <td>{{race.dt | date: short}}</td>
                <td>
                    <a ng-href="{{race.Circuit.url}}" target="blank">
                        {{race.Circuit.circuitName}} <i class="fa fa-external-link"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <pre>{{season|json}}</pre>
</div>

