<div class="row marketing">
    <h1>{{race.raceName}} Qualifying <i class="fa fa-clock-o"></i>
        <a class="pull-right" href="#/results/{{race.Circuit.circuitId}}"><i class="pull-right fa fa-trophy"></i></a>
    </h1>
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <tr>
                <th><i class="fa fa-flag-o"></i></th>
                <th class="driver-head">Name</th>
                <th>Constructor</th>
                <th ng-click="sort='result.Q1'; reverse=!reverse" class="sortable">Q1</th>
                <th ng-click="sort='result.Q2'; reverse=!reverse" class="sortable">Q2</th>
                <th g-click="sort='result.Q3'; reverse=!reverse" class="sortable">Q3</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in quali">
                <td class="color" style="background: {{lookup.ids.constructors[result.Constructor.constructorId].color1}}">{{result.position}}</td>
                <td class="driver-head">
                    <a ng-href="{{result.Driver.url}}">
                    <!--
                        <img ng-src="{{result.Driver.driverId | helmet:this}}">
                        <br>
                    -->
                        <span class="flag-icon flag-icon-{{lookup.ids.nationality[result.Driver.nationality]}}"></span>
                        {{result.Driver.givenName}} {{result.Driver.familyName}}
                        # {{result.number}}
                    </a>
                </td>
                <td>{{result.Constructor.name}}</td>
                <td>{{result.Q1}}</td>
                <td>{{result.Q2}}</td>
                <td>{{result.Q3}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-21049175-3', 'brombomb.com');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');

</script>
